@import "../../styles/variables.scss";

.search-wrapper {
  ul {
    margin: 0;
    width: 300px;
    top: 42px;
    padding: 1em;
    position: absolute;
    list-style: none;
    z-index: 999;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background: $white;
    border: 0;
    border-top: 0;
    border-radius: 0 0px 8px 8px;
    right: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 2px $gray-light;
    @media (max-width: 768px) {
      width: calc(100% - 12px);
    }
    li {
      border-bottom: solid 1px $gray-light;
      padding-bottom: 1em;
      display: flex;
      flex-direction: column;
      p {
        font-size: 16px;
      }
      a {
        font-weight: 500 !important;
        color: $black !important;
        padding: 0 !important;
        &:hover {
          color: $blue-bright !important;
        }
      }
    }
    li:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }
}
.searchlist {
  position: absolute;
  max-height: 90vh;
  width: 100%;
  overflow: scroll;
  margin: 0;
  list-style: none;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 1px 2px $gray-light;
  background: $white;
  padding: 20px 16px;
  li {
    &:not(:last-child) {
      border-bottom: 1px solid $gray-light;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
    }
    a {
      text-decoration: none;
      color: $body-black;
      strong {
        display: block;
        color: $black;
      }
    }
  }
}